<html lang="en">
<%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/nav.ejs')%>
    <!-- Start: MAIN-SECTION -->
    <div class="container mb-3" id="lr-margin">
        <div class="row" style="margin-top: 1rem;">
            
            <div class="col-md-3 d-flex d-lg-flex d-xl-flex flex-column align-items-center align-items-sm-center align-items-lg-center justify-content-xl-start" id="sidebar-column">
                <h3 class="text-center d-lg-flex fw-bold justify-content-lg-center mt-4 align-items-lg-start" id="welcome-text" style="width: 100%;padding-top: .5rem;">Good day Admin!</h3>

                <!-- Start: clock -->
                <%- include('../partials/clock-weather.ejs')%>
                <!-- End: clock -->
                
                <p class="mb-1 mt-3" style="text-align: center;"><strong>Comtech Laptop Repair Shop</strong><br>Brgy. 19, Corner Jadol-Tuto St., Gingoog City, Misamis Oriental, 9014</p>
                <a class="btn btn-primary d-lg-flex justify-content-sm-center justify-content-lg-center align-items-lg-center mb-5" role="button" data-bss-hover-animate="pulse" id="add-job-order-btn" href="/job-orders/add-job-order">Add Job Order</a>
                <!-- Start:messaging react component -->
                    <div id="messaging"></div>
                <!-- End:messaging react component -->
            </div>  

            <div class="col-md-9" id="main-body">
                <div>
                    <!-- Start: search -->
                    <div class="row">
                        <div class="col-12 mb-3 autocomplete">
                            <!-- Start: searchbox -->
                            <input class="border border-info border-2 " type="text" id="search-input" name="search-input" placeholder="Search Job Order e.g. J.O. Number, Customer Name, etc..." onkeyup="sendData(this)" autocomplete="off">

                            <div class="autocomplete-items" id="autocomplete-items">

                            </div>
                            <!-- End: searchbox -->
                         </div>
                    </div>
                    <!-- End: search -->
                    <ul class="nav nav-tabs d-flex justify-content-center justify-content-md-start" role="tablist" style="font-size: 1.2rem;--bs-body-color: #55595c;">
                        <!-- Start: SUMMARY-TAB -->
                        <li class="nav-item" role="presentation"><a class="nav-link active text-bg-danger custom-tab" role="tab" data-bs-toggle="tab" id="tab-1-link" href="#tab-1">Summary</a></li><!-- End: SUMMARY-TAB -->
                        <!-- Start: JOB-ORDER-TAB -->
                        <li class="nav-item" role="presentation"><a class="nav-link text-bg-info custom-tab" role="tab" data-bs-toggle="tab" id="tab-2-link" href="#tab-2">Recent Job Orders</a></li><!-- End: JOB-ORDER-TAB -->

                        <!-- Start: OPERATING-EXPENSES-TAB -->
                        <!-- <li class="nav-item" role="presentation"><a class="nav-link text-bg-dark custom-tab" role="tab" data-bs-toggle="tab" id="tab-3-link" href="#tab-3">Operating Expenses</a></li> -->
                        <!-- End: OPERATING-EXPENSES-TAB -->

                    </ul>
                    <div class="tab-content">
                        <!-- Start: SUMMARY-TAB-CONTENT -->
                        
                        <div class="tab-pane active fade show" role="tabpanel" id="tab-1">
                           
                            <% if(flashMessage.length > 0 ) { %>
                                <div class="alert alert-warning py-1 px-3 mt-1" id="flash-message"> <%= flashMessage %> </div>
                            <% } %>  

                            
                            <div class="row d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center" id="summary-row" style="margin-bottom: 1.5rem;margin-top: 1.5rem;">
                                <div class="col d-xl-flex justify-content-xl-center d-flex align-items-stretch" id="summary-card-1">
                                    <div class="card" style="box-shadow: 3px 3px 6px;border-radius: 10px;width: 100%;">
                                        <div class="card-header d-xl-flex justify-content-xl-center align-items-xl-center" style="height: 65px;">
                                            <h5 class="mb-0" style="text-align: center;font-weight: bold;">Total Job Orders</h5>
                                        </div>
                                        <div class="card-body">
                                            <h5 style="text-align: center;font-weight: bold;font-size: 40px;color: var(--bs-cyan);border-width: 0px;border-color: var(--bs-gray-800);"><%= totalJobOrders %></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col d-xl-flex justify-content-xl-center d-flex align-items-stretch" id="summary-card-2">
                                    <div class="card" style="box-shadow: 3px 3px 6px;border-radius: 10px;width: 100%;">
                                        <div class="card-header d-xl-flex justify-content-xl-center align-items-xl-center" style="height: 65px;">
                                            <h5 class="mb-0" style="text-align: center;font-weight: bold;">On Going Orders</h5>
                                        </div>
                                        <div class="card-body">
                                            <h5 style="text-align: center;font-weight: bold;font-size: 40px;color: var(--bs-orange);border-width: 0px;border-color: var(--bs-gray-800);"><%= currentOrdersCount %></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center d-flex align-items-stretch" id="summary-card-3">
                                    <div class="card" style="box-shadow: 3px 3px 6px;border-radius: 10px;width: 100%;">
                                        <div class="card-header d-xl-flex justify-content-xl-center align-items-xl-center" style="height: 65px;">
                                            <h5 class="mb-0" style="text-align: center;font-weight: bold;"><strong>Parts Orders</strong></h5>
                                        </div>
                                        <div class="card-body">
                                            <h5 style="text-align: center;font-weight: bold;color: var(--bs-orange);border-width: 0px;border-color: var(--bs-gray-800);font-size: 40px;"><%= currentPartsOrdersCount %></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-lg-flex d-xl-flex my-auto justify-content-lg-center align-items-lg-start justify-content-xl-center" id="summary-row-1" style="margin-bottom: 1.5rem;margin-top: 1.5rem;">
                                <div class="col d-xl-flex justify-content-xl-center d-flex align-items-stretch" id="summary-card-4">
                                    <div class="card" style="box-shadow: 3px 3px 6px;border-radius: 10px;width: 100%;">
                                        <div class="card-header d-xl-flex justify-content-xl-center align-items-xl-center" style="height: 65px;">
                                            <h5 class="mb-0" style="text-align: center;font-weight: bold;">Unclaimed Orders</h5>
                                        </div>
                                        <div class="card-body">
                                            <h5 style="text-align: center;font-weight: bold;font-size: 40px;color: var(--bs-red);border-width: 0px;border-color: var(--bs-gray-800);"><%= currentUnclaimedOrdersCount %></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col d-xl-flex justify-content-xl-center d-flex align-items-stretch" id="summary-card-5">
                                    <div class="card d-xl-flex justify-content-xl-center" style="box-shadow: 3px 3px 6px;border-radius: 10px;width: 100%;">
                                        <div class="card-header d-xl-flex justify-content-xl-center align-items-xl-center" style="height: 65px;">
                                            <h5 class="mb-0" style="text-align: center;font-weight: bold;">DMD (<%= monthNowName %>)</h5>
                                        </div>
                                        <div class="card-body">
                                            <h5 style="text-align: center;font-weight: bold;font-size: 40px;color: var(--bs-red);border-width: 0px;border-color: var(--bs-gray-800);"><%= currentDMDOrdersCount %></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col d-xl-flex justify-content-xl-center d-flex align-items-stretch" id="summary-card-6">
                                    <div class="card" style="box-shadow: 3px 3px 6px;border-radius: 10px;width: 100%;">
                                        <div class="card-header d-xl-flex justify-content-xl-center align-items-xl-center" style="height: 65px;">
                                            <h5 class="mb-0" style="text-align: center;font-weight: bold;">Revenue (<%= monthNowName %>)</h5>
                                        </div>
                                        <div class="rowcard-body">
                                            <div class="row">
                                                <span class="col-5 fw-bold  d-flex align-items-center justify-content-end">Services:</span>
                                                <span class="col-7" style="text-align: left;font-weight: bold;font-size: 25px;color: var(--bs-green);border-width: 0px;border-color: var(--bs-gray-800);">₱<%= totalDownPay %></span> 
                                            </div>
                                            <div class="row">
                                                <span class="col-5 fw-bold text-end d-flex align-items-center justify-content-end">Sales:</span>
                                                <span class="col-7" style="text-align: left;font-weight: bold;font-size: 25px;color: var(--bs-green);border-width: 0px;border-color: var(--bs-gray-800);">₱<%= totalSalesDownPay %></span>
                                            </div>
                                            <div class="row">
                                                <span class="col-5 fw-bold d-flex align-items-center justify-content-end">TOTAL:</span>
                                                <span class="col-7" style="text-align: left;font-weight: bold;font-size: 25px;color: var(--bs-green);border-width: 0px;border-color: var(--bs-gray-800);">₱<%= totalRevenue %></span>
                                            </div>                                
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Start: CHARTS -->
                            
                            <div class="sales-chart">
                                <!-- <p class="text-center"><em>[Sales Chart feature under construction...]</em></p> -->
                                <h5 id="sales-chart-caption" class="text-center">Monthly Revenue Chart (Repairs and Other Services) as of <%=monthlyChartData.currYear%></h5>
                               
                                <canvas id="chart-1" class="p-3"
                                    data-jan="<%= monthlyChartData.janSales%>" 
                                    data-feb="<%= monthlyChartData.febSales%>" 
                                    data-mar="<%= monthlyChartData.marSales%>" 
                                    data-apr="<%= monthlyChartData.aprSales%>" 
                                    data-may="<%= monthlyChartData.maySales%>" 
                                    data-jun="<%= monthlyChartData.junSales%>" 
                                    data-jul="<%= monthlyChartData.julSales%>" 
                                    data-aug="<%= monthlyChartData.augSales%>" 
                                    data-sep="<%= monthlyChartData.sepSales%>" 
                                    data-oct="<%= monthlyChartData.octSales%>" 
                                    data-nov="<%= monthlyChartData.novSales%>" 
                                    data-dec="<%= monthlyChartData.decSales%>">
                                </canvas>
                            </div>
                            <div class="sales-chart">
                                <!-- <p class="text-center"><em>[Sales Chart feature under construction...]</em></p> -->
                                <h5 id="sales-chart-caption" class="text-center">Annual Revenue Chart (Repairs and Other Services)</h5>
                               
                                <canvas id="chart-2" class="p-3"
                                    data-sales2021="<%= annualChartData.sales2021%>" 
                                    data-sales2022="<%= annualChartData.sales2022%>" 
                                    data-sales2023="<%= annualChartData.sales2023%>" 
                                    data-sales2024="<%= annualChartData.sales2024%>" 
                                    data-sales2025="<%= annualChartData.sales2025%>" 
                                    data-sales2026="<%= annualChartData.sales2026%>" 
                                    data-sales2027="<%= annualChartData.sales2027%>" 
                                    data-sales2028="<%= annualChartData.sales2028%>" 
                                    data-sales2029="<%= annualChartData.sales2029%>" 
                                    data-sales2030="<%= annualChartData.sales2030%>">
                                </canvas>
                            </div>
                            <!-- End: CHARTS -->


                        </div><!-- End: SUMMARY-TAB-CONTENT -->
                        <!-- Start: JOB-ORDER-CONTENT -->
                        <div class="tab-pane fade" role="tabpanel" id="tab-2">
                            <p class="mt-4">The table shows the 15 most recent Job Order. </p>
                          
                            <!-- <button class="btn btn-danger btn-sm text-center ms-2 rounded-pill" id="btn-search" type="button">search</button> -->
                            <!-- Start: JOB-ORDER-TABLE -->
                            <div class="table-responsive my-3" id="job-order-table">
                                <table class="table table-striped table-hover table-sm table-bordered">
                                    <thead>
                                        <tr class="text-center">
                                            <th class="col-md-2">Job Order #</th>
                                            <th class="col-md-3">Customer Name</th>
                                            <th class="col-md-4">Work Performed</th>
                                            <th class="col-md-2">Status</th>
                                            <th class="col-md-1">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Start: Job Order Entry Row -->
                                        <!-- notes: slice() method limits the number of results in the table -->
                                        <% if (jobOrders.length > 0) { %>
                                            <% jobOrders.slice(0, 15).forEach( jobOrder => { %>
                                                <tr>
                                                    <td><%=jobOrder.job_id%> </td>
                                                    <td><%=jobOrder.cus_name%></td>
                                                    <td><%=jobOrder.work_perf%></td>
                                                    <td><%=jobOrder.s_status%></td>
                                                    <td class="text-center"><a href="/job-orders/job-details/<%=jobOrder._id%>"><i class="fas fa-eye text-info custom-view-icon" data-bs-toggle="tooltip" data-bss-tooltip="" data-bss-hover-animate="swing" title="View Job Order Details"></i></a></td>
                                                </tr>   
                                            <% }) %>

                                            <% } else { %>
                                            <p class="container">No Job Order Available...</p>    
                                        <% } %>
                                        <!-- End: Job Order Entry Row -->
                                        
                                    </tbody>
                                </table>
                            </div><!-- End: JOB-ORDER-TABLE -->
                        </div><!-- End: JOB-ORDER-CONTENT -->

                        <!-- Start: OPERATING EXPENSES-CONTENT -->
                        <!-- <div class="tab-pane fade" role="tabpanel" id="tab-3">
                            <p>Feature under construction...</p>
                        </div> -->
                        <!-- End: OPERATING EXPENSES-CONTENT -->
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End: MAIN-SECTION -->

    <%- include('../partials/foot.ejs') %> 
    <script defer>
        //Graph JS configuration
        const chart1 = document.getElementById('chart-1');
        const chart2 = document.getElementById('chart-2');
        console.log('chart2.dataset', chart2.dataset)

        const moSales = {
            jan: chart1.dataset.jan,
            feb: chart1.dataset.feb,
            mar: chart1.dataset.mar,
            apr: chart1.dataset.apr,
            may: chart1.dataset.may,
            jun: chart1.dataset.jun,
            jul: chart1.dataset.jul,
            aug: chart1.dataset.aug,
            sep: chart1.dataset.sep,
            oct: chart1.dataset.oct,
            nov: chart1.dataset.nov,
            dec: chart1.dataset.dec
        };
        const anSales = {
            sales2021: chart2.dataset.sales2021,
            sales2022: chart2.dataset.sales2022,
            sales2023: chart2.dataset.sales2023,
            sales2024: chart2.dataset.sales2024,
            sales2025: chart2.dataset.sales2025,
            sales2026: chart2.dataset.sales2026,
            sales2027: chart2.dataset.sales2027,
            sales2028: chart2.dataset.sales2028,
            sales2029: chart2.dataset.sales2029,
            sales2030: chart2.dataset.sales2030,
        };
        console.log('anSales', anSales)
        
    new Chart(chart1, {
        type: 'bar',
        data: {
          labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
          datasets: [{
            label: 'Revenue in Peso',
            data: [
                moSales.jan, 
                moSales.feb, 
                moSales.mar, 
                moSales.apr, 
                moSales.may, 
                moSales.jun,
                moSales.jul, 
                moSales.aug, 
                moSales.sep, 
                moSales.oct, 
                moSales.nov, 
                moSales.dec
            ],
                borderWidth: 3,
                backgroundColor: 'rgba(54, 162, 235, .6)',
            }]
            },
            options: {
            scales: {
                y: {
                beginAtZero: true
                }
            }
            },
    });
    
    new Chart(chart2, {
        type: 'bar',
        data: {
          labels: ['2021', '2022', '2023', '2024', '2025', '2026', '2027', '2028', '2029', '2030'],
          datasets: [{
            label: 'Revenue in Peso',
            data: [
                anSales.sales2021, 
                anSales.sales2022, 
                anSales.sales2023, 
                anSales.sales2024, 
                anSales.sales2025, 
                anSales.sales2026,
                anSales.sales2027, 
                anSales.sales2028, 
                anSales.sales2029, 
                anSales.sales2030,
            ],
                borderWidth: 3,
                backgroundColor: 'rgba(54, 235, 78, 0.6)',
            }]
            },
            options: {
            scales: {
                y: {
                beginAtZero: true
                }
            }
            },
    });
    
    //End Graph JS configuration
    </script>
 </body>
</html>